@import 'tailwindcss';
/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */
/* styling resets */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-text-fill-color: #1f2937 !important;
	transition: background-color 5000s ease-in-out 0s;
}
